<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Weather Journal</title>
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">

</head>

<body>
    <header class='title'>
      <h1 class='title-head'>Travel Planner</h1>
    </header>
    <main>
    <section id="travel-card" class="travel-card">
      <figure>
        <img class="travel-img" src="../media/Big_Ben.jpg" alt="Big Ben">
        <figcaption class='fig-caption'>Choose your destination!</figcaption>
      </figure>
      <div class="travel-entry">
        <h2 class='travel-title'>Enter Travel Details</h2>
        <input id="input-destination" class="input-travel" name="to" placeholder="Traveling to">
      <div class="date-group">
        <label class="date-label" for="date">Departing on...</label>
        <input id="input-date" type="date" class="input-travel" name="date" required>
      </div>
      <div class="date-group">
        <label class="date-label" for="date">Returning on...</label>
        <input id="input-return-date" type="date" class="input-travel" name="date" required>
      </div>
        <input type="submit" id="input-submit" class="input-submit" name="submit" value="Submit">
      </div>
    </section>
    <section id="travel-results" class='overlay'>
      <div class="results-box">
      <div class="results">
        <figure>
          <img class="results-image" src="../media/londonSkyline.jpg" alt='London Skyline'>
          <figcaption class="">Enjoy your Trip!</figcaption>
        </figure>
        <div class="results-entry">
          <h4>Trip to: Paris, France</h4>
          <h6>Departure: Monday, October, 28 2020</h6>
          <h6>Return: Saturday, November 2, 2020</h6>
          <h6>Duration: 5 days</h6>
          <h6>Your trip is 13 days from now</h6>
          <h6>The current weather:</h6>
          <h6>55.56°F</h6>
          <h6>Partly Cloudy</h6>
        </div>
      </div>
        <div class='results-footer'>
          <button type="button">Close</button>
          <button type="button">Save</button>
        </div>
      </div>
    </section>
    </main>
 
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
   </script>

</body>

</html>