.results-box {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    color: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
}

.results-entry {
    margin: 0 1em 0.5em 0.5em;
    h4 {
        font-size: 1.2em;
    }
}

.results-image {
    width: 35vw;
    height: 50vh;
}

.results {
    display: flex;
}

.results-footer {
    border-top: 1px solid black;
    .btn {
    justify-content: right;
    align-items: right;
    }
}

.btn {
    margin: .5em .2em .5em .3em;
}

.save-btn {
    margin-left: .5em;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}



  // Adding in styles for different media screen sizes
@media screen and (min-width: 801px) {
    .results-box {
        min-width: 750px;
    }
}

@media screen and (max-width: 800px) {

    .results-box {
        font-size: 1.5em;
        align-items: center;
        justify-content: center;
    }

    .results {
        flex-direction: column;
    }

    .results-entry {
        align-items: center;
        justify-content: center;
    }

    .results-image {
        padding-top: 15em;
        width: 35vw;
        height: 40vh;
    }

}