$flex-column: column;
$margin: 7em 20em;

.saved-travel-results {
    margin: 0 auto;
    align-items: center;
    justify-content: center; 
}


.saved-results-box {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background-color: rgba(249, 250, 250, 0.61);
    color: black;
    display: flex;
    margin: 7em 20em;
    border-radius: 25px;
    padding: 1em;
    font-size: 1.2em;
}

.saved-results {
    display: flex;
}

.saved-results-entry {
    margin: 0 1em 0.5em 1em;
    h4 {
        font-size: 1.2em;
    }
}

.saved-results-image {
    width: 500px;
    height: 350px;
}

// Adding in styles for different media screen sizes


@media screen and (max-width: 1300px) {

    main {
        min-width: 700px;
    }
    .saved-results-box {
        display: flex;
        flex-direction: $flex-column;
        min-width: 700px;
        margin: $margin;
    }

    .saved-results {
        flex-direction: $flex-column;
        align-items: center;
        justify-content: center; 
    }

    .saved-results-entry {
        font-size: 1.2em;
        align-items: center;
        justify-content: center; 
    }
}

@media screen and (max-width: 1050px) {
    .saved-results-box {
        flex-direction: $flex-column;
        min-width: 500px;
        margin: $margin;
    }

    .saved-results {
        flex-direction: $flex-column;
    }
}


@media screen and (max-width: 900px) {
    .saved-results-box {
        flex-direction: $flex-column;
        min-width: 500px;
        margin: 5em 10em;
    }

    .saved-results {
        flex-direction: $flex-column;
    }
}


@media screen and (max-width: 700px) {
    .saved-results-box {
        flex-direction: $flex-column;
        min-width: 500px;
        margin: 0em 2em;
    }

    .saved-results {
        flex-direction: $flex-column;
    }
}
