

.travel-card {
    display: flex;
    background-color: rgba(249, 250, 250, 0.61);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin: 7em 20em;
    border-radius: 25px;
    padding: 5em;
}

.input-travel {
    border: 0.1em solid black;
    border-radius: 0.4em;
    color: #000;
    font-size: 1em;
    line-height: 1.5;
    margin: 0.1em 0;
    padding: 0.2em 0.1em;
}

.input-submit {
    border: 0.1em solid black;
    border-radius: 0.4em;
    font-size: 1.4rem;
    width: 100%;
    margin-top: 0.5em;
}

