body{
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: url('../media/ny.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-entry {
    border: 0.5px solid black;
    background-color: whitesmoke;
    padding: 2em;
    width: 500px;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    height: 15vh;
    margin: 35em auto 25em auto;
    position: relative;
    transform: translateY(15%);
    width: 50vw;
    
}

.travel-img {
    
}