// * {
//     border: 2px solid red;
// }


body{
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background: url('../media/Chicago.jpg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

